GENERATE_SOURCEMAP=false
REACT_APP_PRIVY_APP_ID=your_privy_app_id_here
REACT_APP_CONTRACT_ADDRESS=0x13a1EC1b4e17D417B23c52adfFCAC978B6e8cB26
REACT_APP_USDC_ADDRESS=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
REACT_APP_BACKEND_URL=http://localhost:3001
REACT_APP_CLOUDINARY_CLOUD_NAME=your_cloud_name_here
REACT_APP_CLOUDINARY_UPLOAD_PRESET=your_upload_preset_here
REACT_APP_COINBASE_PROJECT_ID=your_coinbase_project_id_here
REACT_APP_ALCHEMY_BASE_URL=https://mainnet.base.org
